.sticky-overlay span,
.simple-post > a:before,
.social-media > a:hover,
.widget-title:before,
.social-icons > a:hover,
.button > input,
.title > span,
.cart-btn > span,
nav .container > ul li a:before,
.comment-field:before,
.comments-form > form button,
.simple-btn,
.cart-totals li:before,
.checkout-input:before,
.coloured-btn,
.pagination-buttons .pagination li a:hover,
.pagination-buttons .pagination li a.active,
.photostream a:hover::before,
.instagram-picture:hover::before,
.black-btn:hover,
.coupon > button:hover,
.coloured-btn:hover,
.tagclouds > a:hover{
    background-color: #e23a3e;
}

.post-slide-detail h3 a:hover,
.sticky-overlay > h3 a:hover,
.simple-post > span i,
.simple-post > h3 a:hover,
ul.meta li,
ul.meta li a,
.simple-post > a,
.post-detail strong,
.post-detail > span,
.post-detail > h3 a:hover,
.sidebar-tabs .nav li.active a,
.widget li a:hover,
.blog-author > h3 a:hover,
.blog-author > span,
.recent-post-name > span,
.modern-post-inner > h3 a:hover,
.readmore,.readmore:hover,
.moder-post-social > a:hover,
.latest-news > h3 a:hover,
.latest-news > span,
.creative-social > a:hover,
.creative-detail > h3 a:hover,
.model-detail > h3 a:hover,
.product > h4 a:hover,
.product-img a,
.topbar ul.topbar-social li a:hover i,
.topbar ul li a:hover,
nav .container > ul li a:hover,
.rating i.active,
.comment span,
.comment a,
.info > span,
.bottom-footer p i,
.modern-post-social > a:hover i{
    color:  #e23a3e;
}

.simple-post > a,
.owl-dot.active,
.social-icons > a:hover,
.readmore,
.info > span{
    border-color:#e23a3e;
}

.photostream a:hover::before,
.instagram-picture:hover::before{
    opacity: 0.6;
}